.top{
    width: 100vw;
    height: 10vh;
    background-color: rgb(68, 135, 99);
    display: flex;
    align-items: center;
 
  position: sticky;
  top:0;
  overflow: hidden;

  
}
.topimg{
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
   
}
.toplistL{
    position: absolute;
    left:10%;
display: flex;
justify-content: center;
padding: 0;

list-style: none;
}
.toplistR{
    position: absolute;
   right:5%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10;

padding: 0;
list-style: none;
}
.toplistitem{
    margin-right: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.searchIcon{
   font-size: 25px;
   cursor: pointer;
   margin-left: 15px;
   color: aliceblue;
 
}
